body  {
  width:80%;
  margin:auto;
}

header{
  border-top: 1px solid;
  max-height: 20%;
  border-bottom: 1px solid;
}

li  {
  display:inline;
  background-color: rgba(224, 190, 190, 1);
}

h1{
  background-color: rgba(224, 190, 190, 1);
  font-family: "Taviraj", serif, Times;
  font-size: 4em;
  text-align: center;
  display: block;
  clear: both;
  margin: 10% 0;
}

.header-title{
  /*border: 1px solid;*/
  display: block;
  }

.nav-web{
  float:left;
  text-align: left;
  border: 1px solid;
}

.nav-social{
  float:right;
  border: 1px solid;
}

ul {
  /*border: 1px dashed red;*/
  padding-left: 0;
}
li{
  border: 3px solid green;
}

.article{
    width:50%;
    float:right;
}
#time{
  width: 30%;
  float: left;
  margin-top: 1%;
  text-align: right;
}
.article header{
  border-bottom: none;
  margin-top: 1%;
}
.nav-web, .nav-social, #title{
  font-family: "Raleway", Tahoma, Geneva, Serif;
  font-size:  1.5em;
}
