body  {
  width:80%;
  margin:auto;
}
header{
  border-bottom: 1px solid;
}
li  {
  display:inline;
  background-color: rgba(224, 190, 190, 1);
}
div h1{
  display: inline-block;
  text-align: center;
  margin: 10% 20%;
}

h1{
  background-color: rgba(224, 190, 190, 1);
  font-family: "Taviraj", serif, Times;
  font-size: 4em;
}
nav{

  height: 0;
}

.header-title{

}

.nav-web{
  float:left;
}

.nav-social{
  float:right;
}

.article{
    width:50%;
    float:right;
}
#time{
  width: 30%;
  float: left;
  margin-top: 1%;
  text-align: right;

}
.article header{
  border-bottom: none;
  margin-top: 1%;
}
.nav-web, .nav-social, #title{
  font-family: "Raleway", Tahoma, Geneva, Serif;
  font-size:  1.5em;
}
